header {
  margin: 0 1.5em;
  height: 5em;
  display: grid;
  grid-template: "logo option" "search filter";
  grid-template-columns: calc(100% - 4em) 4em;
  justify-content: space-between;
  align-items: center;
}

.roundBox {
  height: 2.5em;
  width: 2.5em;
  margin: 0.73em;
  background-color:lightgray;
  border-radius: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

fa-icon{
  color: #fff;
  font-weight: 800;
}

input {
  border-radius: 0.5em;
  width: calc(100% - 1em - 1em);
  height: 2.5em;
  margin: em 0;
  padding-left: 4em;
  border-color: lightgray;
  border-style: solid;
}

form {
  position: absolute;
}

form > fa-icon {
  color: lightgray;
  position: absolute;
  top: 1em;
  left: 1em;
}
