<form>

  <mat-list>
    <mat-grid-list *ngIf="restaurantService.isGeolocalisationEnable" [cols]="1" rowHeight="90px">
      <mat-grid-tile [colspan]="1">
        <i class="material-icons">directions_car</i>
        <mat-slider
          [(ngModel)]="restaurantRecherche.distance"
          [displayWith]="formatLabel"
          aria-label="units"
          max="100"
          min="0"
          name="slider"
          step="1"
          thumbLabel></mat-slider>
        {{restaurantRecherche.distance + 'KM'}}
      </mat-grid-tile>
<!--      <mat-grid-tile [colspan]="9">-->
<!--       -->

<!--      </mat-grid-tile>-->
<!--      <mat-grid-tile [colspan]="3">-->
<!--      </mat-grid-tile>-->

    </mat-grid-list>
    <mat-list-item>
      <mat-form-field class="prix">
        <mat-label>Catégorie</mat-label>
        <mat-select [(value)]="this.restaurantService.recherche.categorie">
          <mat-option *ngFor="let categorie of this.restaurantService.categories"
                      [value]="categorie">{{categorie}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <mat-label>Prix Min</mat-label>
        <input [(ngModel)]="this.restaurantService.recherche.prix_min" matInput min="0" name="prix_min"
               type="number">
      </mat-form-field>
    </mat-list-item>
    <mat-list-item>
      <mat-form-field>
        <mat-label>Prix Max</mat-label>
        <input [(ngModel)]="this.restaurantService.recherche.prix_max" matInput min="0" name="prix_max"
               type="number">
      </mat-form-field>
    </mat-list-item>

    <mat-list-item >
      <div class="cont">
        <div class="stars">
          <ngx-star-rating  [id]="'rating'" [(ngModel)]="this.restaurantService.recherche.notation" [ngModelOptions]="{standalone: true}"></ngx-star-rating>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item class="rating">
      <button (click)="handleForm()" class="button" mat-raised-button
              style="align-content: end">Appliquer
      </button>
    </mat-list-item>
  </mat-list>
</form>
