image: node:16-alpine3.14
before_script:
  - npm i -g firebase-tools
  - npm install -g @angular/cli
  - npm install
build:
  stage: build
  script:
    - ng build
deploy-production:
  stage: deploy-production
  script:
    - firebase deploy --token $FIREBASE_TOKEN
  only:
    - main
deploy-preview:
  stage: deploy-preview
  script:
    - firebase deploy --token $FIREBASE_TOKEN preview
  only:
    - dev