image: node:16-alpine3.14
before_script:
  - npm i -g firebase-tools
  - npm install -g @angular/cli
  - npm install
  - cd ./functions/
  - npm install
  - cd ..
test:
  stage: test
  script:
    - echo "Which test ?"
deploy-production:
  stage: deploy
  script:
    - ng build
    - firebase deploy --token $FIREBASE_TOKEN
  only:
    - main
deploy-preview:
  stage: deploy
  script:
    - ng build
    - firebase hosting:channel:deploy preview --expires 30d --token $FIREBASE_TOKEN
    - firebase deploy --only functions --token $FIREBASE_TOKEN
  only:
    - dev
