<!--Affiche le menu des options de façon conditionelle-->
<div class="option-container" (click)="toggleOption()" *ngIf="areOptionOpened">
  <div class="options">
    <!-- Affiche l'option pour se connecter-->
    <a (click)="navigateToSignIn()"><fa-icon [icon]="faSignInAlt" size="1x" ></fa-icon> Se connecter</a>
    <!-- Affiche l'option pour s'inscrire'-->
    <a (click)="navigateToSignUp()"><fa-icon [icon]="faUser" size="1x"></fa-icon> S'inscrire</a>
    <!-- Affiche le lien pour voir la section à propos-->
    <a (click)="navigateToAbout()"><fa-icon [icon]="faUtensilSpoon" size="1x"></fa-icon> A propos de nous</a>
  </div>
</div>
