.option-container {
  z-index: 998;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.options {
  z-index: 999;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.35);
}

.options a {
  display: block;
  text-decoration: none;
  padding: 10px 30px 14px 20px;
  color: #fea802;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif
}

.options a:hover {
  text-decoration: none;
}

.options a fa-icon {
  font-size: 13px;
  color: #222;
}
