header {
  margin: 0 1.5em;
  height: 4em;
  display: grid;
  grid-template: "first second third";
  grid-template-columns: 1fr 1fr auto;
  justify-content: flex-end;
  align-items: center;
}

img {
  height: 3em;
  padding: 0.5em;
}

.roundBox {
  height: 2.5em;
  width: 2.5em;
  margin: 0.75em;
  background-color:lightgray;
  border-radius: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

fa-icon{
  color: #fff;
  font-weight: 800;
}

input {
  border-radius: 0.5em;
  width: calc(100% - 5em);
  height: 2.5em;
  margin: 1em 0;
  padding-left: 4em;
  border-color: lightgray;
  border-style: solid;
}

form {
  position: relative;
}

form > fa-icon {
  color: lightgray;
  position: absolute;
  top: 1.68em;
  left: 1em;
}
