<!--Change les propriété d'affichage du menu de navigation en accord avec l'état du composant-->
<header [ngStyle]="{'grid-template-columns' : (isSearchBarEnable) ? '1fr auto auto' : '1fr 1fr auto'}">
  <!--Affiche un spacer dans le boutton de retour dans la barre de recherche est désactivée-->
  <div (click)="navigateToHome()" *ngIf="!isSearchBarEnable" class="roundBox" style="grid-area: first">
    <button  mat-mini-fab color="" aria-label="Filtre">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>

  <!--Affiche un spacer dans le menu quand la barre de recherche est désactivée-->
  <span *ngIf="!isSearchBarEnable" style="grid-area: second"></span>

  <!--Affiche la barre de recherche et bind -->
  <div *ngIf="isSearchBarEnable" class="formulaire">
    <fa-icon [icon]="this.faSearch" size="1x"></fa-icon>
    <input (input)="restaurantService.recherche.texte=getValue($event)" [value]="this.restaurantService.recherche.texte" id="search"
           placeholder="Recherche...">
    <ul id="suggestion">
      <li *ngFor="let item of this.restaurantService.getBestDishes(this.restaurantService.recherche.texte)" (click)="selectItem(item)">{{item}}</li>
    </ul>
  </div>

  <!--Affiche le boutton des filtre quand la barre de recherche est affichée-->

  <div (click)="this.toggleFilter()" *ngIf="isSearchBarEnable" class="filter" style="grid-area: second">
    <button  mat-mini-fab color="" aria-label="Filtre">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

  <!--Affiche un boutton permettant de déployer les options-->
  <div  class="roundBox" style="grid-area: third">
    <button mat-mini-fab [matMenuTriggerFor]="menu" color="">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="!authService.isConnected">
        <button (click)="navigateToSignIn()" mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Se connecter</span>
        </button>
        <button (click)="navigateToSignUp()" mat-menu-item>
          <mat-icon>person_add_alt</mat-icon>
          <span> S'inscrire</span>
        </button>
      </ng-container>
      <ng-container *ngIf="authService.isConnected">

        <button (click)="navigateToFavoris()" mat-menu-item>
          <mat-icon>person_add_alt</mat-icon>
          <span>Mes favoris</span>
        </button>
        <button (click)="signOut()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Se déconnecter</span>
        </button>
      </ng-container>

      <button (click)="navigateToAbout()" mat-menu-item>
        <mat-icon>info_outline</mat-icon>
        <span>A propos de nous</span>
      </button>
    </mat-menu> </div>

</header>


<!--Instance du filtre quand ils sont déployés-->
<div *ngIf="areFilterDisplayed" class="filter-container">
  <app-filter [delegate]="this"></app-filter>
  <div (click)="toggleFilter()" class="filter-close"></div>
</div>
