<header [ngStyle]="{'grid-template-columns' : (isSearchBarEnable) ? '1fr auto auto' : '1fr 1fr auto'}">
  <div class="roundBox" style="grid-area: first" *ngIf="!isSearchBarEnable" (click)="navigateToHome()">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
 </div>
  <span  style="grid-area: second" *ngIf="!isSearchBarEnable">
  </span>
  <form method="get" style="grid-area: first" *ngIf="isSearchBarEnable">
    <input placeholder="Recherche...">
    <fa-icon [icon]="this.faSearch" size="1x"></fa-icon>
  </form>
  <div class="roundBox" style="grid-area: second" *ngIf="isSearchBarEnable" (click)="this.filters.first.toggleFilter()">
    <fa-icon [icon]="faFilter" size="lg"></fa-icon>
  </div>
  <div class="roundBox" style="grid-area: third" (click)="this.options.first.toggleOption()">
    <fa-icon [icon]="faEllipsisV" size="lg" ></fa-icon>
  </div>

</header>
<app-option></app-option>
<app-filter></app-filter>
