header {
  position: absolute;
  width: calc(100% - 3em);
  z-index: 100;
  margin: 0 1.5em;
  height: 4em;
  display: grid;
  grid-template: "first second third";
  grid-template-columns: 1fr 1fr auto;
  justify-content: flex-end;
  align-items: center;
}

.roundBox {
  box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.35);
  height: 2.5em;
  width: 2.5em;
  margin: 0.75em;
  background-color:lightgray;
  border-radius: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

fa-icon{
  color: #fff;
  font-weight: 800;
}

input {
  box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.35);
  border-radius: 0.5em;
  width: calc(100% - 1em);
  height: 2.5em;
  margin: 0.5em 0;
  padding-left: 3em;
  border-color: lightgray;
  border-style: solid;
}


form > fa-icon {
  color: lightgray;
  position: absolute;
  top: 1.25em;
  left: 1em;
}
