header {
  position: absolute;
  width: calc(100% - 1em);
  z-index: 100;
  margin: 0 0.5em;
  height: 4em;
  display: grid;
  grid-template: "first second third";
  grid-template-columns: 1fr 1fr auto;
  justify-content: flex-end;
  align-items: center;
}

.roundBox {
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.35);
  height: 2.5em;
  width: 2.5em;
  margin: 0.75em;
  background-color: lightgray;
  border-radius: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.35);
  height: 2.5em;
  width: 2.5em;
  margin: 0.75em;
  background-color: lightgray;
  border-radius: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}


fa-icon {
  color: #fff;
  font-weight: 800;
}

input {
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.35);
  border-radius: 0.5em;
  width: calc(100% - 1em);
  height: 2.5em;
  margin: 0.5em 0;
  padding-left: 3em;
  border-color: lightgray;
  border-style: solid;
}

.formulaire > fa-icon {
  color: lightgray;
  position: absolute;
  top: 1.25em;
  left: 1em;
}

.filter-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  color: #222;
  width: 100%;
  height: calc(100%);
  z-index: 600;
  /*box-shadow: 3px 3px 9px 2px rgba(0,0,0,0.35);*/
}
app-filter{
  z-index: 700;
}

.filter-close {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.menu-height{
    height: 8em;
  margin-left: auto;
  width: 9em;
  }

#suggestion{
  padding: 0;
  position: absolute;
  float: top;
  list-style: none  ;
  background-color: white;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  display: none;
}

#suggestion li{
  padding: 1em ;
}

#suggestion li:hover{
  background-color: #dfdfdf;
}

#suggestion:active{
  display: block;
}

#search:focus + #suggestion{
  display: block;
}

.filterActive {
  background-color: orange;
}

/* Cache le filtre quand l'application est en mode landscape */
@media screen and (orientation: landscape) {
  .filter-container {
    display: none;
  }
  .filter {
    display: none;
  }
}
