<div
  style="background: url('../assets/images/1.jpg'); background-size: cover; width: 100%; height: 10em; background-position: cover; border-radius: 0 0 10px 10px;">
</div>
<div class="container">

<form [formGroup]="signupForm" style="text-align: center;">
  <mat-form-field appearance="fill">
    <mat-label>Prenom</mat-label>
    <input matInput formControlName="prenom">
    <mat-error *ngIf="signupForm.get('prenom')?.hasError('required')">
      Le prénom est requis
    </mat-error>
    <mat-error *ngIf="signupForm.get('prenom')?.hasError('pattern')">
      Ce prénom est non valide
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="nom">
    <mat-error *ngIf="signupForm.get('nom')?.hasError('required')">
      Le nom est requis
    </mat-error>
    <mat-error *ngIf="signupForm.get('nom')?.hasError('pattern')">
      Ce nom est non valide
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Adresse email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
      Vous devez entrer une adresse couriel
    </mat-error>
    <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
      Email non valide
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="motdepasse">
    <mat-error *ngIf="signupForm.get('motdepasse')?.hasError('required')">
      Mot de passe non valide
    </mat-error>
    <mat-error *ngIf="!signupForm.get('motdepasse')?.hasError('minLength')">
      Mot de passe doit être d'au moins 8 caractères
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirmer le Mot de passe</mat-label>
    <input matInput type="password" formControlName="motdepasse2" [errorStateMatcher]="matcher" >
    <mat-error *ngIf="signupForm.hasError('notSame')">
      Mot de passe non identique
    </mat-error>
  </mat-form-field>

  <button  class="button " mat-raised-button (click)="onSubmit()" [disabled]="signupForm.invalid"
  style="align-content: end">Inscrivez-vous
</button><br>
<p style="font-size: 14px; color: black; text-decoration: none;">Vous avez déjà un compte? <a (click)="router.navigate(['sign-in'])" style="color:orange; text-decoration:none; font-weight:550">Connectez-vous</a></p>
  </form>
</div>


