<div
  style="background: url('../assets/images/2.png'); background-size: cover; width: 100%; height: 14em; background-position: cover; border-radius: 0 0 10px 10px;">
</div>
<br>
<div class="container-fluid">

<form [formGroup]="signinForm" style="text-align: center;">
  <mat-form-field appearance="fill">
    <mat-label>Adresse email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="signinForm.get('email')?.hasError('required')">
      Vous devez rendre une adresse couriel
    </mat-error>
    <mat-error *ngIf="signinForm.get('email')?.hasError('email')">
      Email non valide
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput formControlName="motdepasse" type="password">
    <mat-error *ngIf="signinForm.get('motdepasse')?.hasError('required')">
      Vous devez rendre un mot de passe
    </mat-error>
  </mat-form-field>

  <button  class="button " mat-raised-button style="align-content: end" type="submit"  (click)="onSubmit()">
    Connectez-vous
  </button><br>
<!--    <a (click)="navigateResetPassword()">Mot de passe oublié?</a>-->
  <a routerLink="/resetPassword" >Mot de passe oublié?</a>

  </form>
<br>

<div id="bottom" >
  <h6>ou</h6>
  <button  class="button_bottom" mat-raised-button  (click)="router.navigate(['sign-up'])">Créez un compte</button>
</div>
  <br>
</div>


