.container {
  position: absolute;
  top: 10em;
  padding-top: 1em;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: orange;
  width: 100%;
  font-size: 16px;
  font-weight: 550;
  text-align: center;


}

.btn .button:hover {
  background-color: lightgray;
  color: #f3780d;
}

h6 {
  display: flex;
  flex-direction: row;

}
h6:before, h6:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid lightgrey;
  margin: auto;
  margin-left: 50px ;
  margin-right: 50px ;
}
h6:before {
  margin-right: 10px
}
h6:after {
  margin-left: 10px
}

#bottom{
  position: fixed;
  bottom: 10px;
  width: 90%;

}

.button_bottom {
 background-color: lightgray;
 border-color: 1px solid lightgray;
 color: #f3780d;
 width: 100%;
}

.button_bottom:hover{
  background-color: lightgray;
  border-color: 1px solid lightgray;

}
