<h1 style="text-align: center" mat-dialog-title>{{article.nom}}</h1>
<mat-grid-list (window:resize)="onResize($event)" [cols]="2*col" [rowHeight]="rowHeight" >

  <mat-grid-tile colspan="2" [rowspan]="2*col">
    <img  [src]="article.photo" class="image" alt="">
  </mat-grid-tile>
  <mat-grid-tile  [colspan]="col" rowspan="1">
    <mat-form-field>
      <mat-label>Taille</mat-label>
      <mat-select [(value)]="selectedSize">
        <mat-option [value]="i" *ngFor="let taille of article.taillePrix, let i = index">
          {{taille.taille}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="col" rowspan="1">
    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input matInput disabled [value]="article.taillePrix[selectedSize].prix + '$'">

    </mat-form-field>


  </mat-grid-tile>
  <mat-grid-tile  colspan="2" rowspan="3" >
    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <textarea *ngIf="article.description" autosize matInput disabled  [(ngModel)]="article.description"></textarea>
      <textarea *ngIf="!article.description" autosize matInput disabled>Descritpion non disponible</textarea>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
