<div
  style="background: url('../assets/images/1.jpg'); background-size: cover; width: 100%; height: 10em; background-position: cover; border-radius: 0 0 10px 10px;">
</div>
<div class="container">

    <p>Bonjour {{ this.authService.currentUser.prenom}}!</p>

    <mat-grid-list  cols="3" *ngFor="let res of this.restaurants" >
        <mat-grid-tile>

          <img src="../assets/images/5352.jpg" class="im"  >
        </mat-grid-tile>
        <mat-grid-tile  colspan="2" style="position: absolute; left: 0px; right: 10px; top: 0;">
            <div >

          <p style="font-weight: 550; font-size: 18px; margin-left:10px">{{res.nom }} </p>
          <p style="font-size: 12px;margin-left:10px"> {{res.adresse.numeroDeRue + ' ' + res.adresse.rue + ' ' + res.adresse.ville + ' ' + res.adresse.codePostal + ' ' + res.adresse.ville}}.<br> La notation du restaurant</p>
          <p class="stars" >
            <ngx-star-rating  [(ngModel)]="res.note" [disabled]="true"></ngx-star-rating>
    
          </p>

          
          </div>
        </mat-grid-tile>

    </mat-grid-list>

    
</div>
<button  mat-fab  (click)="navigateToMain() "
        class="menu-button"
        [class.mat-elevation-z2]="false"
        [class.mat-elevation-z8]="true"
>

  <mat-icon aria-hidden="false" class="material-icons" aria-label="Example home icon">home</mat-icon>

</button>


