

    <!DOCTYPE html>
    <html lang="en" >
    <head>
      <meta charset="UTF-8">
      <title>Food menu tab</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
      <!--<link rel="stylesheet" href="./style.css"> -->

    </head>
    <body>

    <!-- partial:index.partial.html -->
    <section id="our_menu" class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="rest-details">
            <h1 class="u-custom-font u-font-oswald u-text u-text-palette-3-base u-text-1">MCdonads (Saint Denis)
            </h1>
            <p class="u-align-left-xs u-text u-text-2">1647 Saint Denis St, Montreal, Quebec H2X 3K4

            </p>
            <p class="u-align-left-xs u-text u-text-default-xs u-text-3"> (514) 840-9172

            </p>
          </div>

        </div>
        <div class="row">
          <ul class="nav nav-tabs menu_tab mb-4" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="meu-items-tab" data-toggle="tab" href="#menu-items" role="tab">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab">Comments</a>
            </li>

          </ul>
        </div>
        <div class="row">
          <div class="tab-content col-lg-12" id="myTabContent">
            <div class="tab-pane fade show active" id="menu-items" role="tabpanel" aria-labelledby="meu-items-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="single_menu">
                    <img src="https://i.imgur.com/kbpceNv.jpg" alt="burger">
                    <div class="menu_content">
                      <h4>Chicken Burger </h4>
                      <span>$24</span>
                      <p>Aperiam tempore sit,perferendis numquam repudiandae
                        porro voluptate dicta saepe facilis.</p>
                    </div>
                  </div>
                  <div class="single_menu">
                    <img src="https://i.imgur.com/lYKUORL.jpg" alt="black coffee">
                    <div class="menu_content">
                      <h4>Black coffee</h4>
                      <span>$20</span>
                      <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    </div>
                  </div>
                  <div class="single_menu">
                    <img src="https://i.imgur.com/AXAHrf6.jpg" alt="fried rice">
                    <div class="menu_content">
                      <h4>Fried Rice</h4>
                      <span>$45</span>
                      <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    </div>
                  </div>
                  <div class="single_menu">
                    <img src="https://i.imgur.com/YkDi8Nb.jpg" alt="meat">
                    <div class="menu_content">
                      <h4>meat </h4>
                      <span>$24</span>
                      <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="single_menu">
                    <img src="https://i.imgur.com/TAq7lDR.jpg" alt="burger">
                    <div class="menu_content">
                      <h4>Chicken Burger</h4>
                      <span>$24</span>
                      <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    </div>
                  </div>
                  <div class="single_menu">
                    <img src="https://i.imgur.com/lYKUORL.jpg" alt="black coffee">
                    <div class="menu_content">
                      <h4>Black coffee </h4>
                      <span>$20</span>
                      <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    </div>
                  </div>
                  <div class="single_menu">
                    <img src="https://i.imgur.com/AXAHrf6.jpg" alt="fried rice">
                    <div class="menu_content">
                      <h4>Fried Rice</h4>
                      <span>$45</span>
                      <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    </div>
                  </div>
                  <div class="single_menu">
                    <img src="https://i.imgur.com/YkDi8Nb.jpg" alt="meat">
                    <div class="menu_content">
                      <h4>meat</h4>
                      <span>$24</span>
                      <p>Aperiam tempore sit,perferendis numquam repudiandae porro voluptate dicta saepe facilis.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="single_menu">
                    <div class="menu_content">
                      <h4>Sam bouk  </h4>
                      <br>
                      <p>tasty food and great price.</p>
                    </div>
                  </div>
                  <div class="single_menu">
                    <div class="menu_content">
                      <h4>Sam bouk  </h4>
                      <p>tasty food and great price.</p>
                    </div>
                  </div>
                  <div class="single_menu">
                    <div class="menu_content">
                      <h4>Sam bouk  </h4>
                      <p>tasty food and great price.</p>
                    </div>
                  </div>
                  <div class="single_menu">
                    <div class="menu_content">
                      <h4>Sam bouk  </h4>
                      <p>tasty food and great price.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script><script  src="./script.js"></script>

    </body>
    </html>

