.header_img {
  background-size: cover;
  width: 100%;
  height: 6em;
  background-position: center;
  border-radius: 0 0 10px 10px;
}

.back {
  margin: 0.73em;
  background-color: white;
  float: left;
  color: #222;
  display: inline;
}

.roundBox {
  height: 2.5em;
  width: 2.5em;
  margin: 0.73em;
  background-color: lightgray;
  border-radius: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  color: white;
}

.sub_container {
  margin-top: 1.5em;


}

.commentary {
  padding-bottom: 10px;
  box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.35);
  float: left;


}

.text-container {
  position: absolute;
  width: 100%;
  top: 0px;
}


@media screen and (max-width: 770px) and (orientation: portrait) {
  .commentary {
    display: none;
  }

  .text-container {
    position: absolute;
    top: 50%;
    text-align: left;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

}

.commentary h4 {
  font-size: 20px;
}

.commentaire h5 span {
  color: orange;
  height: 2.5em;
  width: 2.5em;
  background-color: lightgray;
  border-radius: 4em;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  margin: 5px;
}

.nom {
  font-size: 14px;
  font-weight: 550;
  display: inline;
}

.commentaire {
  font-size: 14px;
  padding-bottom: 10px;

}

.sub_commentaire div {
  display: inline;
}

.sub_commentaire_img {
  width: 40px;
  height: 20px;

}

.sub_commentaire_text {
  font-size: 14px;
  margin: 2px 10px;

}

.pad {
  padding-top: 10px;
}


fa-icon {
  font-weight: 800;
  font-size: 14px;
}

section {
  padding: 30px 0 0 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #222;

}

.titre {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: inline;
}

.heart {
  display: inline;
  color: lightgray;
  font-size: 20px;
}

.heart:hover {
  color: orange;
}

.sous_titre {
  display: inline;
  font-size: 14px;
  color: #222;
}

.icon {
  display: inline;
  font-size: 14px;
  color: lightgray;
}

.checked {
  color: orange;
}

.unchecked {
  color: lightgrey;
}

img {
  height: 100%;
  float: left;
}

.name {
  font-size: 15px;
  font-weight: 550;

}

div.stars {
  width: 270px;
  padding: 0 0px !important;
  display: inline-block;
}

.picture_text {
  min-width: 100%;
  min-height: 100%;
  /*padding: 20px;*/
}

.scroll {
  flex-grow: 1;
  overflow: auto;
}

.section2 {
  padding: 0;
  margin: 0;
}

.container {
  padding: 10px;
  min-width: 100%;
  min-height: 100%;
}

.main_grid-list {
  margin: 10px 10px 10px;
}
