.header{
    margin: 1.5em;
   color: black;
  }
.back{
    margin: 0.73em;
    background-color:white;
    float:left;
    color: #222;
    display: inline;
}
.roundBox {
  height: 2.5em;
  width: 2.5em;
  margin: 0.73em;
  background-color: lightgray;
  border-radius: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  color: white;
}
.sub_container{
    margin-top: 1.5em;


  }

  .commentary{
    padding-bottom: 10px;
    /*border-right: 1px solid lightgrey;*/

  }

  @media screen and (orientation: portrait) {
    .commentary{
      display:none;
    }

  }
  .commentary h4{
    font-size: 20px;
  }
  .commentary h4 span{
  color:orange;
  height: 2.5em;
  width: 2.5em;
  background-color:lightgray;
  border-radius: 4em;
  align-items: center;
  font-weight: 700;
  font-size:16px;
  margin:5px;
  }
  .nom{
    font-size:14px;
    font-weight:550;
    display:inline;
  }

  .sub_commentaire{
    font-size: 14px;
    padding-bottom:10px;
  }
  .sub_commentaire div{
    display: inline;
  }
  .sub_commentaire_img{
    width:40px;
    height: 20px;
  }
  .sub_commentaire_text{
    font-size: 14px;
    margin: 2px 10px;
  }

  .pad{
    padding-top:10px;
  }



  fa-icon{
    font-weight: 800;
    font-size:14px;
  }

  section{
    padding: 60px 0 0 30px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222;

  }

  .titre{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
  }
  .heart {
    display: inline;
    color: lightgray;
    font-size: 20px;
    display: inline;
  }
  .heart:hover{
    color: orange;
  }
  .sous_titre{
    display: inline;
    font-size: 14px;
   color:#222;
  }
 .icon{
   display: inline;
   font-size:  14px;
   color: lightgray;
 }
 .checked {
  color: orange;
}
.unchecked {
  color: lightgrey;
}
  img{
    width: 100px;
    height:80px;
    float: left;
  }
  .name{
    font-size: 15px;
    font-weight: 550;

  }


