.header{
    margin: 1.5em;
   color: black;
  }
.back{

    margin: 0.73em;
    background-color:white;
    float:left;
    color: #222;
    display: inline;
}
.roundBox {
    height: 2.5em;
    width: 2.5em;
    margin: 0.73em;
    background-color:lightgray;
    border-radius: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    float:right;
    color: white;
  }

  fa-icon{
    font-weight: 800;
  }

  section{
    padding: 60px 0px 0 30px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222;

  }

  .titre{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
  }
  .heart {
    display: inline;
    color: lightgray;
    font-size: 20px;
    display: inline;
  }
  .heart:hover{
    color: orange;
  }
  .sous_titre{
    display: inline;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
 .icon{
   display: inline;
   font: size 14px;
   color: lightgray;
 }
 .checked {
  color: orange;
}
.Nchecked {
  color: lightgrey;
}
  img{
    width: 100px;
    height:80px;
    float: left;
  }
  .name{
    font-size: 15px;
    font-weight: 550;

  }


