<section class="container">
  <div class="row sub_container">
    <div class="col-sm-3 commentary">
      <h4>Commentaires <span>8</span></h4>
      <div class="sub_commentaire">
        <div>
          <img src="../assets/images/user.png" class="sub_commentaire_img" alt="">
          <h5 class="nom">Nathan Kina</h5>
        </div>
        <p class="sub_commentaire_text">svbvjv jfbvjv jfvbjvf sfvbjfvf jvbvjvbvb vjvbvb vsvbivbv vbvivb vvbvivv vbvirbr
          vbivwv</p>
      </div>

      <div class="sub_commentaire">
        <div>
          <img src="../assets/images/user.png" class="sub_commentaire_img" alt="">
          <h5 class="nom">Nathan Kina</h5>
        </div>
        <p class="sub_commentaire_text">svbvjv jfbvjv jfvbjvf sfvbjfvf jvbvjvbvb vjvbvb vsvbivbv vbvivb vvbvivv vbvirbr
          vbivwv</p>
      </div>

      <div class="sub_commentaire">
        <div>
          <img src="../assets/images/user.png" class="sub_commentaire_img" alt="">
          <h5 class="nom">Nathan Kina</h5>
        </div>
        <p class="sub_commentaire_text">svbvjv jfbvjv jfvbjvf sfvbjfvf jvbvjvbvb vjvbvb vsvbivbv vbvivb vvbvivv vbvirbr
          vbivwv</p>
      </div>

      <div class="sub_commentaire">
        <div>
          <img src="../assets/images/user.png" class="sub_commentaire_img" alt="">
          <h5 class="nom">Nathan Kina</h5>
        </div>
        <p class="sub_commentaire_text">svbvjv jfbvjv jfvbjvf sfvbjfvf jvbvjvbvb vjvbvb vsvbivbv vbvivb vvbvivv vbvirbr
          vbivwv</p>
      </div>
    </div>

    <div class="col-sm-8 col-12">
      <div>
        <p class="titre">{{restaurant.nom}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <fa-icon [icon]="faHeart" size="lg" class="heart"></fa-icon>
      </div>
      <div class="pad" *ngIf="restaurant.calendrier">
        <fa-icon [icon]="faClock" size="lg" class="icon"></fa-icon>&nbsp;&nbsp;
        <p class="sous_titre">Ouvert jusqu'A {{restaurant.calendrier[0].heureFermeture + 'h'}}</p>

      </div>
      <div class="pad">
        <fa-icon [icon]="faLocationArrow" size="lg" class="icon"></fa-icon>&nbsp;&nbsp;
        <p
          class="sous_titre">{{restaurant.adresse.numeroDeRue + ' ' + restaurant.adresse.rue + ' ' + restaurant.adresse.ville + ' ' + restaurant.adresse.codePostal + ' ' + restaurant.adresse.ville}}</p>

      </div>
      <div class="pad">
        <fa-icon [icon]="faPhone" size="lg" class="icon"></fa-icon>&nbsp;&nbsp;
        <p class="sous_titre">{{restaurant.numeroTelephone}}</p>

      </div>
      <div class="pad" style="margin-left: 25px;">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star unchecked"></span>
        <span class="fa fa-star unchecked"></span>
      </div>
      <div class="section2">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="row" *ngFor="let article of restaurant.menu.articles">
              <div class="col-md-4 col-4"><img [src]="article.photo" class="image" alt=""></div>
              <div class="col-md-8 col-8"><p class="name">{{article.nom}} <br><span
                class="price">{{article.taillePrix[0].prix + ' $'}}</span> <br>
                <span class="detail">{{article.description}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-option></app-option>
