.option-container{
  z-index: 998;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.options{
  z-index: 999;
  position: absolute;
  top: 0;
 right: 0;
  height: 10em;
  width: 10em;
  background-color: blue;
}
