  <section class="container">

      <div>
      <p class="titre" >McDonnald's (Saint Denis)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <fa-icon [icon]="faHeart" size="lg" class="heart" ></fa-icon>
    </div>
    <div style="padding-top: 10px;">
      <fa-icon [icon]="faClock" size="lg"  class="icon" ></fa-icon>&nbsp;&nbsp;
      <p class="sous_titre" >Ouvert jusqu'A 15h</p>

    </div>
    <div style="padding-top: 10px;">
      <fa-icon [icon]="faLocationArrow" size="lg"  class="icon" ></fa-icon>&nbsp;&nbsp;
      <p class="sous_titre" >5350 Rue de la salaberry H3X1J6</p>

    </div>
    <div style="padding-top: 10px;">
      <fa-icon [icon]="faPhone" size="lg"  class="icon" ></fa-icon>&nbsp;&nbsp;
      <p class="sous_titre" >5148132216</p>

    </div>
    <div style="padding-top: 10px; margin-left: 25px;">
      <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star Nchecked"></span>
<span class="fa fa-star Nchecked"></span>
    </div>

  </section>

 <section class="container" style="padding-top: 40px;">
   <div class="row">
     <div class="col-4"><img src="../assets/icons/im.jpg"></div>
     <div class="col-8">
       <p class="name">Big Mag TRIO</p>
       <span>10.12$</span>
       <p >OVsjcb ssgv jsvbsv ssbsvs svjsvsvs <br>ksvcsjcbcscvbscsvscbjsc</p>
      </div>
   </div>
   <div class="row">
    <div class="col-4"><img src="../assets/icons/im.jpg"></div>
    <div class="col-8">
      <p class="name">Big Mag TRIO</p>
      <span>10.12$</span>
      <p >OVsjcb ssgv jsvbsv ssbsvs svjsvsvs <br>ksvcsjcbcscvbscsvscbjsc</p>
     </div>
  </div>
  <div class="row">
    <div class="col-4"><img src="../assets/icons/im.jpg"></div>
    <div class="col-8">
      <p class="name">Big Mag TRIO</p>
      <span>10.12$</span>
      <p >OVsjcb ssgv jsvbsv ssbsvs svjsvsvs <br>ksvcsjcbcscvbscsvscbjsc</p>
     </div>
  </div>
  <div class="row">
    <div class="col-4"><img src="../assets/icons/im.jpg"></div>
    <div class="col-8">
      <p class="name">Big Mag TRIO</p>
      <span>10.12$</span>
      <p >OVsjcb ssgv jsvbsv ssbsvs svjsvsvs <br>ksvcsjcbcscvbscsvscbjsc</p>
     </div>
  </div>
 </section>


  <app-option></app-option>
