main{
  margin: 0;
  width: 100%;
  height: calc(100% - 4em);
  position: absolute;
  top: 4em;
  z-index: 0;
}
.sub_main{
  height: 100%;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .filter{
    display:none;
  }
}
