<main>
  <div class="row sub_main">
    <div class="col-0 col-sm-3 filter">
      <app-filter></app-filter>
    </div>
    <div class="col-12 selector">
      <google-map height="100%" width="100%" [options]="mapOptions">
        <span *ngFor="let res of this.restaurantService.restaurants">
      <map-marker [position]="{lat: res.geoPoint.latitude, lng: res.geoPoint.longitude}"
                  [icon]='"assets/icons/icon-72x72.png"' (mapClick)="goMenu(res.id)"></map-marker>
    </span>
      </google-map>
    </div>
  </div>
</main>
