.container {
    position: absolute;
    top: 10em;
    padding-top: 1em;
  }

  div.stars {
    width: 270px;
    padding-top: 0px;
    display: inline-block;
  }
.menu-button{
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: orange;
}

  .material-icons{
    color:white;

  }

  .stars{
    position: absolute;
    padding-top:0;
  }

.image{
  border-radius: 10px;
  padding-left: 0;
  margin-left: 0;
  width: 125px;
  height: 100px;
}
.picture_text {
  min-width: 100%;
  min-height: 100%;
  /*padding: 20px;*/
}
.text-container {
  position: absolute;
  width: 100%;
}
@media screen and (max-width: 770px) and (orientation: portrait) {

  .text-container {
    position: absolute;
    top: 50%;
    text-align: left;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

}
