.container {
    position: absolute;
    top: 10em;
    padding-top: 1em;
  }

  div.stars {
    width: 270px;
    padding-top: 0px; 
    display: inline-block;
  }
  .menu-button{
    position: absolute;
    float: right;
    bottom: 30px;
    right: 20px;
    background-color: orange;
  }

  .material-icons{
    color:white;
  
  }

  .stars{
    position: absolute;
    padding-top:0;
  }

  