/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input.star:checked ~ label.star:before {
  color: orange !important;

}

label.star:before {
  font-size: 15px;
  padding: 0 !important;

}

div.stars {
  width: auto !important;
  padding: 0 !important;

}

.mat-slider-thumb {
  background-color: orange !important;
}

.mat-slider-thumb-label {
  background-color: orange !important;
}

.mat-slider-track-fill {
  background-color: orange !important;
}
.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: orange !important;
}

.mat-select-arrow{
  /*change color of underline*/
  color: orange !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: orange !important;;
}
mat-form-field {
  width: 90%;
}
textarea{
  height: 100% ;
}
mat-grid-tile{
  /*border: 1px solid black;*/
}

.close.mat-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  line-height: 14px;
  min-width: auto;
}
.cdk-overlay-pane.my-dialog mat-dialog-container {
  position: relative!important;
  color: black !important;
  padding: 0px;
}

